.add-btn {
    padding: 1rem 2rem;
    background-color: #37a13f;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
    transition: 0.15s;
    border-radius: 8px;
}

.add-btn:hover {
    filter: brightness(90%);
}